<div *ngIf="company" class="profile-card">
  <div class="cover-photo">

  </div>
  
  <img [src]="company.companyLogo" alt="Profile Picture" class="profile-picture">
  
  <div class="company-info">
    <h2>{{ company.name }}</h2>
    <p class="address">{{ company.address }}</p>
    <p class="description">{{ company.description }}</p>

    <form class="reservation-form" (submit)="reserveEquipment()">
      <label for="reservationDate">Scheduled equipment pickup:</label>
      <input type="date" id="reservationDate" [(ngModel)]="reservationDate" name="reservationDate" required>
      <button type="submit">Done</button>
    </form>
  </div>
</div>
