  .profile-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    margin: 20px;
   
  }
  
  .cover-photo {
    height: 150px; 
    background-color: lightblue;
  }
  
  .profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid #fff;
    margin: -50px 0 0 50px;
  }
  
  .company-info {
    padding: 50px;
    padding-top: 90px;
    flex: 1;
  }
  
  h2 {
    color: #333;
    font-size: 22px;
  }
  
  .address { 
    color: #666;
    font-weight: bold;
    font-size: 12px;
  }

  .description{
    margin-top: 40px;
    font-size: 16px;
    width: 40%;
    color: #666;
    font-style: italic;
  }
  
  .reservation-form {  
    max-width: 300px;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .appointment-form {  
    max-width: 300px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 40px;
  }

  .appointment-form h3{
    color: whitesmoke;
    font-size: 24px;
  }

  .appointment-table{
    font-size: 12px;
  }

  .appointment-table tr{
    border:none;
    background-color: white;
    opacity: 0.4;
    padding: 10px;
  }

  .appointment-table th{
    background-color: #333;
    color: whitesmoke;
    padding: 10px;
  }

 .appointment-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #232946;
    padding: 50px;
    border-radius: 20px;
    margin-bottom: 40px;
    margin-top: 250px;
 }
  
  label {
    color: #666;
    font-size: 14px;
  }
  
  input {
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    width: 100%;
    border-radius: 5px;
  }
  
  button {
    background-color: #0099CC;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: lightblue;
  }

  .edit-wrapper{
    display: flex;
    justify-content: right;
    margin-top: -100px;
    margin-right: 20px;
  }

  .edit-btn{
    background-color: #232946;
    padding: 10px 30px;
  }

  .edit-btn:hover{
    background-color: lightblue;
    border: 1px solid #232946;
    color: #232946;
  }

  .edit-form{
    width: 40%;
    background-color: lightblue;
    padding: 50px;
    border-radius: 20px;
  }

  .edit-form h3{
    color: whitesmoke;
    font-size: 24px;
  }

  .edit-form input{
    width: 93%;
    border: none;
  }

  .edit-form textarea{
    width: 97%;
    height: 100px;
    border: none;
    border-radius: 5px;
  }

  .rating {
    font-size: 24px;
  }
  
  .rating span {
    cursor: pointer;
    color: #ccc;
  }
  
  .rating span.full {
    color: #ffcc00;
  }
  
  .rating span.empty {
    color: #ccc;
  }

  .equipment-tables{
    float: right;
    margin-top: -300px;
    font-size: 12px;
  }

  .medical-equipment-table .remove-btn{
    color: whitesmoke;
    background-color: red;
  }

  .medical-equipment-table input{
    width: 50%;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .medical-equipment-table {
    float: right;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 10px 50px;
    text-align: center;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  tr:hover {
    background-color: #f5f5f5;
  }