<div class="cover">
    <h1>Final order</h1>
    <div class="medical-equipment-table">
        <table cellspacing="0">
          <tr>
            <th>Name</th>
            <th>Count</th>
          </tr>
    
          <tr>
            <td>Neki lek</td>
            <td>1422</td>
          </tr>
          <tr>
            <td>Neki lek</td>
            <td>1422</td>
          </tr>
          <tr>
            <td>Neki lek</td>
            <td>1422</td>
          </tr>
          <tr>
            <td>Neki lek</td>
            <td>1422</td>
          </tr>
          <tr>
            <td>Neki lek</td>
            <td>1422</td>
          </tr>
          <tr>
            <td>Neki lek</td>
            <td>1422</td>
          </tr>
        </table>
    </div>
    
    <button>Finish</button>
</div>
