<div class="cover">
  <h1>Finalize order</h1>
  <div class="medical-equipment-table">
    <table cellspasing="0">
      <tr>
        <th>Name</th>
        <th>Count</th>
      </tr>
      <tr *ngFor="let order of reservation.reservationItems">
        <td>{{order.equipment.name}}</td>
        <td>{{order.count}}</td>
      </tr>
    </table>
  </div>
  <form [formGroup]="reservationForm" class="form-container">
    <mat-form-field>
      <mat-label>Choose appointment</mat-label>
      <mat-select [(ngModel)]="selectedAppointment" formControlName="appointment">
        <mat-option *ngFor="let appointment of appointments" [value]="appointment">
          Date: {{ appointment.date | date:'dd.MM.yyyy' }}, Duration: {{ appointment.duration }} min
        </mat-option>
        <mat-option value="CUSTOM">Pick custom date</mat-option>
      </mat-select>
    </mat-form-field>

    <div *ngIf="reservationForm.get('appointment')?.value === 'CUSTOM'">
      <mat-form-field >
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker" (dateChange)="choseDate($event)" [min]="todayDate">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Chose a time</mat-label>
        <mat-select [(ngModel)]="selectedCustom" formControlName="customAppointment">
          <mat-option *ngFor="let appointment of customAppointments" [value]="appointment">
            Date: {{ appointment.date | date:'dd.MM.yyyy HH:mm' }}, Duration: {{ appointment.duration }} min
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>


  </form>


  <button (click)="reserveEquipment()" [disabled]="(selectedAppointment === 'CUSTOM' && selectedCustom === undefined) || selectedAppointment === undefined ">Finish</button>
  <button (click)="close()" style="margin-top: 10px;">Cancel</button>
</div>
