<div class="homepage">
  <div class="background-image"></div>
  <div class="content">
    <div class="transparent-box">
      <h1>Welcome to medical shop</h1>
      <p>Find all medical equipment you need in one place</p>
    </div>
  </div>
</div>



<!-- COMPANY CARDS -->
<div class="scroll-content">
  <h1>Browse companies</h1>
  <div class="companies-scroller">

    <div class="carousel-container">
      <div class="carousel-controls">
        <div class="carousel-wrapper" [style.transform]="'translateX(-' + currentIndex * 100 + '%)'">
          <div *ngFor="let company of companies" class="wrapper">
            <div class="product-img">
              <img [src]="company.companyLogo" alt="Company Logo">
            </div>
            <div class="product-info">
              <div class="product-text">
                <h1>{{company.name}}</h1>
                <p>{{company.address}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="buttons">
        <button (click)="prevSlide()" class="carousel-button prev">Previous</button>
        <button class="carousel-button">See all</button>
        <button (click)="nextSlide()" class="carousel-button next">Next</button>
      </div>
    </div>

  

  </div>
</div>


