<div class="filter-container">
  <mat-form-field>

    <mat-label>
      Search
    </mat-label>
    <input type="text"
           [(ngModel)]="searchFilter"
           matInput>
  </mat-form-field>

  <mat-form-field>

    <mat-label>
      Min rating
    </mat-label>
    <mat-select [(ngModel)]="minRating">
      <mat-option value="1">1</mat-option>
      <mat-option value="2">2</mat-option>
      <mat-option value="3">3</mat-option>
      <mat-option value="4">4</mat-option>
      <mat-option value="5">5</mat-option>
    </mat-select>

  </mat-form-field>

  <div class="button-container">
    <button mat-raised-button color="primary" (click)="applyFilters()">
      Apply search
    </button>
    <button mat-raised-button color="warn" (click)="clearFilters()">
      Clear search
    </button>
  </div>
</div>


<div class="table-companies">
    <div class="header">
        Companies

    </div>

    <table cellspacing="0">
       <tr>
          <th></th>
          <th>Name</th>
          <th>Address</th>
          <th>Rating</th>
       </tr>

       <tr *ngFor="let company of companiesFiltered" [routerLink]="['/company', company.id]">
          <td><img [src]="company.companyLogo" alt="Company Logo"></td>
          <td>{{company.name}}</td>
          <td>{{company.address}}</td>
          <td>{{company.averageRating}}</td>
       </tr>
    </table>
</div>
